body { 
    line-height: 20px;
    font-family:Ubuntu,sans-serif;
    color:#0b0c0b;
    background-color: antiquewhite;
}
header, main, footer {
    margin: 10px auto;
    padding: .5rem;
    max-width: 1600px;
}
main{
    background-color: #88ffe7;
    display: flex;
    justify-content: space-around;
    overflow:hidden;
    max-width: 100%;
}
#cont {
    padding: 20px;
    border: 2px dotted rgb(0, 88, 252);
    border-bottom: 20px;
    text-align: justify;
}
#cont1 {
    padding: 20px;
    border: 2px dotted rgb(0, 88, 252);
    border-bottom: 20px;
    text-align: justify;
}
header, footer, footer a {
    background-color:#74beff;
    color: whitesmoke;
}
nav .contenedor{
    display: flex;
    justify-content: space-around;
}
nav{
    overflow:hidden;
    max-width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    list-style-type:none;
}
.foto{
    display: flex;
    justify-content: center;
    border:2px dotted black;
    border-radius:100%;
    max-width: 10%;

}
a:hover{
    color:aquamarine;
    font-size:24px;
}
nav .contenedor a:link{
    display: inline-block;
    text-decoration:none;
    font-size: 24px;
}
/*color despues de visitar un sitio;*/
/*
a:visited{
    color:#21b080;
}*/
/*ul {
     list-style-image: url("imagen_foto/img.jpg");
}*/
nav .contenedor li{
    overflow: hidden;
    display: flex;
    padding:20px;
    border: 2px dotted black;
    border-radius: 20px;
    margin-right: 35px;
    background: #3c7aff;
}
nav .contenedor li:hover{
    background-color: rgba(0, 0, 0, 0.451);
}
footer ,aside{
    font-size: 20px;
}
/*tareas y proyectos*/
.contenedor .usuario{
    display: flex;
    flex-direction: column;
}
.contenedor .usuario .foto{
    align-self: center;
}
.contenedor .usuario p{
    font-size: 15px;
    color: #0b0c0b;
    align-self: center;
}

.listad .lista{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px dotted black;
}
