
.contenedorpadre{
    max-width: 1600px;
    display: block;
    background-color: #D5AAB9;
}
.contenedor1{
    /*color: rgb(188, 93, 93);*/
    margin: 10px auto;
    padding: .5rem;
    max-width: 96%;
    background-image: url("imagen_logo/comida0.jpg");
    overflow: hidden;
}

.contenedor1 header nav #logo{  
    border: 2px dotted black;
    border-radius: 100%;
    max-width: 15%;
    margin: 3.5%;
}
.contenedor1 header nav .lista_menu{
    max-width: 85%;
    list-style-type:none;
    margin: 8% 10%;
    float: right;
    list-style-type: none;
}
.contenedor1 header nav .lista_menu li{
    float: left;
    margin-left:35px;
    margin-right: 35px;
}
.contenedor1 header nav .lista_menu li .l1:link{
    text-decoration: none;
    font-size: 37px;
    color: bisque;
}
.contenedor1 header nav .lista_menu li .l1:visited{
    color: aquamarine;
}
.contenedor1 header nav .lista_menu li .l1:hover{
    color: rgb(127, 148, 255);
}
/*

main section .images{
    display: flex;
    height: 450px;
    width: 5956px;
    background-color: blue;
}
main section .images .rotar{
    display: flex;
    width: 1489px;
    overflow: hidden;
}
main section{
    overflow: hidden;
    background-color: #E4C8D2;
}
main{
    margin: 10px auto;
    padding: .5rem;
    max-width: 1600px;
}
aside{
    background-color: #C18498;
    margin: 10px auto;
    padding: .5rem;
    max-width: 1600px;
}
footer
{
    background-color: #AE6575;
    margin: 10px auto;
    padding: .5rem;
    max-width: 1600px;
}

    