body{
    background-color: #D5AAB9;
    max-width: 98%;
    align-self: center;
    
}
header{
    color: rgb(188, 93, 93);
}
header nav{
    background-image: url("imagen_logo/comida0.jpg");
    max-width: 98%;
    display: flex;
}
header nav #logo{
    display: flex;
    border: 2px dotted black;
    border-radius: 100%;
    max-width: 10%;
    margin: 40px;
}
header nav .lista_menu{
    display: flex;
    align-items: center;
    max-width: 90%;
    list-style-type:none;
}
header nav .lista_menu li a:link{
    display: flex;
    text-decoration: none;
    font-size: 30px;
    color: bisque;
}
header nav .lista_menu li a:visited{
    color: aquamarine;
}
header nav .lista_menu li a:hover{
    color: rgb(127, 148, 255);
    font-size: 30px;

}
header nav .lista_menu li {
    display: flex;
    margin-right: 35px;
}
    