body{
    background: #D5AAB9;
}
.encabezado {
    background-image: url("imagen_logo/comida0.jpg");
    color: black;
}
#logo{
    border: 2px dotted black;
    border-radius: 100%;
    width: 100%;
}
.ultimo{
    background:#ff6fab;
}
