body{
    background: rgb(170, 129, 211);
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 500px;
    padding: 20 px;
}
.caja
{
    padding:20px 10px;
    background: rgb(208, 46, 111);
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
    color: azure;
}
.contenido_borrar ,.contenido_borrar2
{
    padding:20px 10px;
    background: rgb(86, 33, 233);
    text-align: center;
    margin: 10px 0px;
    color: azure;

}
.blue{
    padding:20px 10px;
    background: rgb(46, 208, 200);
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
    color: rgb(27, 26, 31);
}
.par{
    padding:20px 10px;
    background: rgb(208, 46, 46);
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
    color: rgb(17, 21, 21);
}
/*ol {
    padding:20px 10px;
    background: rgb(208, 46, 46);
    text-align: center;
    margin: 10px 0px;
    font-size: 25px;
    color: rgb(255, 9, 234);
}*/